body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.title{
    width: 600px;
    height: 150px;
}

#game-screen{
    border: solid 1px black;
    width: 500px;
    height: 500px;
    background-image: url("../resources/sprites/giphy.gif");
    margin-top: 50px;
}


