#game-screen{
    border: solid 1px black;
    width: 500px;
    height: 500px;
}

#player{
    background-color: black;
}

#projectile{
    background-color: red;
}

#alien{
    background-color: green;
}

.player{
    background-image: url('../resources/sprites/si_characters.eps.png');
}

